@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+Khojki:wght@500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
  
body {
    font-family: Lato, sans-serif;
    font-size: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    padding: 0;
    margin: 0;
    border: none;
}

#logo-image {
    float: left;
    height: 50px;
    width: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

#logo-text {
    font-size: 280%;
    padding: auto;    
}

#header-button {
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    float: right;
    background-color: white;
    color: black;
    border: none;
    margin: 0px 2px;  
    padding: 0px 32px;   
    cursor: pointer;
}
 
#logo-image, #logo-text, #header-button {
    line-height: 75px;

}

/* Index page Background video */

#checkmate-video {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#cover-text-video, #cover-text-video h1 {
    color: white;
    text-align: center;
}

#cover-text-video {
    font-size: 170%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(134, 169, 180, .7);

    bottom: 400px;
    left: 120px;

    position: absolute;

}

#cover-text-button {
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: none;
    margin: 0px 2px;  
    padding: 5px 30px;   
    cursor: pointer;
}

#skip-button {
    letter-spacing: 4px;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: .7;
    border: none;
    margin: 0px 2px;  
    padding: 5px 30px;   
    cursor: pointer;

    bottom: 50px;
    left: 1600px;

    position: absolute;
}