@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+Khojki:wght@500&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato, sans-serif;
    font-size: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    padding: 0;
    margin: 0;
    border: none;
}

#logo-image {
    float: left;
    height: 50px;
    width: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#logo-text {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2vw;
    text-decoration: none;
    color: black;
}

#header-button {
    letter-spacing: 4px;
    font-size: 1.3vw;
    text-align: center;
    text-decoration: none;
    float: right;
    background-color: white;
    color: black;
    border: none;
    margin: 0px 2px;
    padding: 0px 32px;
    cursor: pointer;
}

#header-button a {
    text-decoration: none;
    color: #3a3a3a;
    position: relative;

}

#header-button a::before {
    content: '';
    display: block;
    height: 3px;
    background: #86A9B4;
    position: absolute;
    bottom: -.50em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
}

#header-button a:hover::before {
    transform: scale(1, 1);
}

#header-button a:hover {
    color: black;
}

#logo-image,
#logo-text,
#header-button {
    line-height: 75px;
}

/* Index Page - Background video */

#checkmate-video {
    position: relative;
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#cover-text-video,
#cover-text-video h1 {
    color: white;
    text-align: center;
}

#cover-text-video {
    font-size: 170%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 0;

    background-color: rgba(58, 58, 58, .6);

    top: 8em;
    left: 3em;

    position: absolute;
}

#cover-text-button {
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    background-color: black;

    border: none;
    margin: 15px 2px;
    padding: 10px 0px;
    cursor: pointer;
}

#cover-text-button a {
    text-decoration: none;

    color: white;

    padding: 10px 35px;
    border: none;
}

#cover-text-button a:hover {
    background-color: white;
    color: black;
}

#skip-button {
    letter-spacing: 4px;
    font-size: 110%;
    text-align: center;
    text-decoration: none;

    margin: 0px 2px;
    padding: 5px 30px;
    cursor: pointer;

    top: 8em;
    right: 1em;

    position: absolute;
}

#skip-button h2 {
    color: white;
}

#skip-button h2:hover {
    color: #86A9B4;
}

#skip-button i {
    color: white;
}

#skip-button i:hover {
    color: #86A9B4;
}

/* Footer - social media icons*/

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 10px 75px;
    color: black;
}

.social-networks i:hover {
    color: #86A9B4;
}

/* Home Page - main background image*/

#home-image {
    height: 700px;
    width: 100%;

    position: relative;
    background: url(../images/home-image.png);
    background-position: center 30%;
}

/* Home - Navigation bar */

#home-image ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    right: 30px;

    padding-top: 1px;
    padding-bottom: 1px;
}

#home-image li {
    display: inline;
    padding-left: 1px;
    padding-right: 1px;
}

#home-image li a {
    text-align: center;
    text-decoration: none;

    color: black;

    display: inline-block;
    padding: 20px; 
}

#home-image li a:hover {
    background-color: #111;
    color: white;
}

/* Home - Text box over main image */

#cover-text-image {
    font-size: 170%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 350px;
    height: 350px;
    padding: 10px;

    background-color: rgba(58, 58, 58, .7);

    top: 7em;
    left: 5em;

    position: absolute;
}

#cover-text-image h1 {
    color: white;
    text-align: center;
}

#cover-text-image h6 {
    color: white;
    text-align: right;
    padding-top: 15px;
    padding-right: 10px;
}

/* Home - second session - Float*/

#about-steps {
    height: 500px;
}

#about-steps h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 200%;
}

#about-left {
    text-align: center;
    padding-top: 20px;
    width: 33%;
    float: left; 
}

#steps-right {
    text-align: center;
    padding-top: 20px;
    width: 33%;
    float: right;
}

#image-center {
    padding-top: 0;
    width: 33%;
    margin: 0 auto;
}

.about-heading {
    width: 80%;
    margin: 0 auto;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.steps-heading {
    width: 80%;
    margin: 0 auto;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#about-steps #about-left a {
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
}

#about-steps #steps-right a {
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
}

#container-image {
    width: 400px;
    height: 395px;
    padding: 15px;
    margin: 0 auto;
}

#strategy-image {
    background: url('../images/check-mate1.png') no-repeat;
    height: 100%;
}

/* Home page - Second section - Flex box  */


/* Home - Third section - MENU */

#menu {
    width: 100%;
}

#menu h2 {
    text-align: center;
    font-size: 200%;
    padding-bottom: 15px;
    clear: both;
}

#black-white {
    height: 100%;
    border: none;
    border-left: 5px solid white;
    overflow: hidden;
    clear: both;
    margin: 0 auto;
}

#black-white .black-box,
#black-white .white-box {
    width: 24.7%;
    height: 230px;
    display: inline-block;
    overflow: hidden;
}

#black-white .black-box {
    background-color: rgba(58, 58, 58, .7);
}

#black-white .black-box h2 {
    text-align: center;
    color: white;
    width: 80%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#black-white .white-box {
    background-color: white;
}

.banner {
    margin: 0 auto;
    padding: 0;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.banner:hover {
    scale: 1.1;
}

/* Home page - Forth session */

#sign-in-up {
    height: 300px;
    padding: 20px;
}

#sign-in-up h2 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 200%;
}

#in {
    text-align: center;
    padding-top: 100px;
    width: 50%;
    height: 25%;
    overflow: hidden;
    float: left;
}

#up {
    text-align: center;
    padding-top: 100px;
    width: 50%;
    float: right;
}

#sign-in-up #in a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #3a3a3a;
    position: relative;
}

#sign-in-up #in a:hover {
    color: black;
}

#sign-in-up #in a::before {
    content: '';
    display: block;
    height: 3px;
    background: #86A9B4;
    position: absolute;
    bottom: -.35em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

#sign-in-up #in a:hover::before {
    transform: scale(1, 1);
}

#sign-in-up #up a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #3a3a3a;
    position: relative;
}

#sign-in-up #up a:hover {
    color: black;
}

#sign-in-up #up a::before {
    content: '';
    display: block;
    height: 3px;
    background: #86A9B4;
    position: absolute;
    bottom: -.35em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

#sign-in-up #up a:hover::before {
    transform: scale(1, 1);
}

/* Sign-up page*/

#sign-up-page {
    width: 100%;
    height: 84vh;
    overflow: hidden;
}

#sign-up-page #cover-text-image {
    font-size: 170%;
    font-family: Lato, sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 520px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(58, 58, 58, .6);
    top: 3.75em;
    left: 2.5em;
    position: absolute;
}

#sign-up-page #cover-text-image #spacing {
    letter-spacing: 2.75px;
}

.signup-form {
    margin: 0 5% 0 20px;
    align-items: center;
}

.signup-form label {
    display: inline-block;
    padding: 2px 0 0 5px;
    text-align: right;
}

#sign-up-page #cover-text-image .join-button {
    text-align: center;
    font-size: 16px;

    background-color: black;
    color: #fafafa;

    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 40px;
    display: block;
}

#sign-up-page #cover-text-image .join-button:hover {
    background-color: #fafafa;
    color: black;
}

#sign-up-page #cover-text-image input {
    padding: 4px;
    text-align: justify;
}

/* Sign-in page*/

#sign-in-page {
    width: 100%;
    height: 84vh;
    overflow: hidden;
}

#sign-in-page #cover-text-image {
    font-size: 170%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    color: white;
    background-color:  rgba(58, 58, 58, .6);

    width: 380px;
    height: 300px;
    padding: 30px 25px;
    
    top: 5em;
    left: 2.5em;

    position: absolute;
}

.signin-form {
    margin: 0 5% 0 20px;
    align-items: center;
}

.signin-form label {
    display: inline-block;
    padding: 2px 0 0 5px;
    text-align: right;
}

#sign-in-page #cover-text-image .join-button {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;

    background-color: black;
    color: #fafafa;

    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 35px;
    display: block;
}

#sign-in-page #cover-text-image .join-button:hover {
    background-color: #fafafa;
    color: black;
}

#sign-in-page #cover-text-image input {
    padding: 4px;
    text-align: justify;
}


/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

/* About/Steps section */

@media screen and (max-width: 1200px) {
    #about-steps {
        width: 80%;
        height: 900px;
        margin: 0 auto;
    }

    #about-steps h2 {
        padding-top: 30px;
        margin: 0;
    }

    #about-left {
        width: 45%;
        float: left;
        padding: 5px;
    }

    #steps-right {
        width: 45%;
        float: right;
        padding: 5px;
    }

    #image-center {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        height: 300px;
    }

    #strategy-image {
        background: url('../images/check-mate1.png') no-repeat;
        height: 100%;
        background-repeat: no-repeat;
    }
}

/* For medium screens sizes from 950px wide and down */

/* About/Steps section */

@media screen and (max-width: 950px) {
    #about-steps {
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }

    #about-steps h2 {
        padding-top: 30px;
        margin: 0;
    }

    #about-left {
        width: 80%;
    }

    #steps-right {
        width: 80%;
    }

    /* Menu section */

    #black-white .black-box,
    #black-white .white-box {
        width: 49.7%;
        height: 180px;
        display: inline-block;
        overflow: hidden;
        clear: both;
        margin: 0 auto;
    }
}

/* For small screens sizes from 730px wide and down */

/* Index page */

@media screen and (max-width: 730px) {
    .social-networks i { 
        font-size: 120%;
        margin: 1px;
        padding: 10px 30px;
        color: black;
    }

    #cover-text-video {
        font-size: 170%;
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    
        width: 300px;
        height: 250px;
        padding: 10px;
        margin: 0;
    
        background-color: rgba(58, 58, 58, .6);
    
        top: 8em;
        left: 0.75em;
    
        position: absolute;
    }

    #header-button {
        letter-spacing: 4px;
        font-size: 3vw;
        text-align: center;
        text-decoration: none;
        float: right;
        background-color: white;
        color: black;
        border: none;
        margin: 0px 2px;
        padding: 0px 20px;
        cursor: pointer;
    }

    #logo-text {
        font-size: 3vw;
    }

    /* Home page - Menu */

    #black-white .black-box {
        height: 120px;        
    }

    #black-white .black-box,
    #black-white .white-box {
        width: 100%;
        height: 160px;
        display: inline-block;
        overflow: hidden;
        clear: both;
        margin: 0 auto;
    }

    #black-white .black-box h2 {
        text-align: center;
        color: white;
    }

    /* Home page - About/Steps */

    #about-steps {
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }

    #about-left {
        width: 80%;
    }

    /* Home page - Cover box/Nav bar */

    #cover-text-image {
        font-size: 150%;
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    
        width: 300px;
        height: 320px;
        padding: 10px;
    
        background-color:  rgba(58, 58, 58, .6);
    
        top: 10em;
        left: 1em;
    
        position: absolute;
    }

    /* Sign In page - Form */

    #sign-in-page #cover-text-image {
        font-size: 150%;
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    
        color: white;
        background-color:  rgba(58, 58, 58, .6);
    
        width: 275px;
        height: 300px;
        padding: 30px 25px;
        
        top: 6em;
        left: 0.75em;
    
        position: absolute;
    }

     /* Sign Up page - Form */

     #sign-up-page #cover-text-image {
        font-size: 130%;
        font-family: Lato, sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
    
        width: 300px;
        height: 420px;
        padding: 25px 15px;
        margin-bottom: 10px;
    
        background-color: rgba(58, 58, 58, .6);
    
        top: 6em;
        left: .50em;
    
        position: absolute;
    }
}

.box-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}